body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
  background: rgb(59, 2, 65);
  background: linear-gradient(90deg, rgba(59, 2, 65, 1) 0%, rgba(95, 3, 124, 1) 50%, rgba(93, 0, 148, 1) 80%, rgba(95, 0, 162, 1) 100%);
}